#snake-game {
    margin: 20px;
}

body {
    background: white;
    color: black;
    text-align: center;
}

h1 {
    font-size: 50px;
    padding: 6px;
}

#result {
    display: none;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 7px;
}

p {
    margin: 0;
}

.accordion-item p {
    text-align: left;
    font-size: 15px;
}

#new-game, #start-stop {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 5px;  
}

#new-texture {
    margin-bottom: 5px;
}

#collapsed-accordion {
    background: gainsboro;
    border-radius: 5px;
}

.instructions {
    text-align: center;
}

hr {
    margin: 4px 0 4px 0;
}

.color {
    height: auto;
}

select {
    margin-right: 2px;
    width: 139px;
}

.accordion {
    margin: auto;
    width: 300px;
}

.accordion-body {
    padding: 10px;
}

.input-group {
    width: 280px;
}

.input-group-prepend {
    width: 80px;
}

#file-name-title {
    width: auto;
}

.input-group-append {
    width: 45px;
}

#download-group {
    margin: auto;
    width: 300px;
    padding-bottom: 10px;
}

input, select {
    border-radius: 5px;
}

#file-name {
    border-radius: 3px;
}

#button-download {
    width: auto;
}

footer {
    margin-bottom: 10px;
}